In [1]:
import pandas as pd
#from os import path

In [2]:
fname_temp = 'data/msc_traffic_1.csv'

In [3]:
!head "$fname_temp"

Date,MSC,Call Attempts,Call success,Call Answer,traffic,success rate,answer rate,mht
2015-01-10 00:00:00,MSC_1,1000,922,702,1198.92315835941,92.2210051939666,70.2274131211149,1.70786774695073
2015-01-10 01:00:00,MSC_1,993,899,728,775.09005237436,90.5273810076752,73.354132518539,1.06468413787687
2015-01-10 02:00:00,MSC_1,850,779,671,776.387333959399,91.6501401827553,78.9629424364571,1.15706011022265
2015-01-10 03:00:00,MSC_1,821,776,675,879.424597408871,94.4974116160334,82.2001557736036,1.30285125542055
2015-01-10 04:00:00,MSC_1,900,892,795,1424.72823774089,99.1413728169044,88.3327943083132,1.79211099086905
2015-01-10 05:00:00,MSC_1,943,886,842,1033.77539952557,93.9567555788461,89.2736079453603,1.22776175715626
2015-01-10 06:00:00,MSC_1,1102,1095,886,1346.88400016375,99.4022002025181,80.4218233485119,1.52018510176496
2015-01-10 07:00:00,MSC_1,1240,1127,919,1059.81720011154,90.8936945973918,74.1191410973239,1.15322872699841
2015-01-10 08:00:00,MSC_1,1851,1841,1406,1876.10871022632,99.4385880671418,75.9440943592534,1.33435896886651

In [4]:
pd_temp = pd.read_csv(fname_temp, index_col=False)
pd_temp.head()

,Date,MSC,Call Attempts,Call success,Call Answer,traffic,success rate,answer rate,mht
0,2015-01-10 00:00:00,MSC_1,1000,922,702,1198.923158,92.221005,70.227413,1.707868
1,2015-01-10 01:00:00,MSC_1,993,899,728,775.090052,90.527381,73.354133,1.064684
2,2015-01-10 02:00:00,MSC_1,850,779,671,776.387334,91.650140,78.962942,1.157060
3,2015-01-10 03:00:00,MSC_1,821,776,675,879.424597,94.497412,82.200156,1.302851
4,2015-01-10 04:00:00,MSC_1,900,892,795,1424.728238,99.141373,88.332794,1.792111

In [25]:
pd_temp.to_csv(path_or_buf='data/msc_traffic_0110.csv', columns=['Date', 'MSC', 'Call Attempts', 'Call success', 'Call Answer', 'traffic'], index=False)
df = pd.read_csv('data/msc_traffic_0110.csv')

In [14]:
!head "$data/msc_traffic_0110.csv"

head: cannot open '/msc_traffic_0110.csv' for reading: No such file or directory

In [26]:
df.head()

,Date,MSC,Call Attempts,Call success,Call Answer,traffic
0,2015-01-10 00:00:00,MSC_1,1000,922,702,1198.923158
1,2015-01-10 01:00:00,MSC_1,993,899,728,775.090052
2,2015-01-10 02:00:00,MSC_1,850,779,671,776.387334
3,2015-01-10 03:00:00,MSC_1,821,776,675,879.424597
4,2015-01-10 04:00:00,MSC_1,900,892,795,1424.728238

In [28]:
df.index

RangeIndex(start=0, stop=48, step=1)

In [29]:
df.columns

Index(['Date', 'MSC', 'Call Attempts', 'Call success', 'Call Answer',
       'traffic'],
      dtype='object')

In [22]:
df = pd.read_csv('data/msc_traffic_0110', index_col='Date')
df.head()

,MSC,Call Attempts,Call success,Call Answer,traffic
Date,,,,,
2015-01-10 00:00:00,MSC_1,1000,922,702,1198.923158
2015-01-10 01:00:00,MSC_1,993,899,728,775.090052
2015-01-10 02:00:00,MSC_1,850,779,671,776.387334
2015-01-10 03:00:00,MSC_1,821,776,675,879.424597
2015-01-10 04:00:00,MSC_1,900,892,795,1424.728238

In [10]:
df.columns

Index(['MSC', 'Call Attempts', 'Call success', 'Call Answer', 'traffic'], dtype='object')

In [11]:
df.index

Index(['2015-01-10 00:00:00', '2015-01-10 01:00:00', '2015-01-10 02:00:00',
       '2015-01-10 03:00:00', '2015-01-10 04:00:00', '2015-01-10 05:00:00',
       '2015-01-10 06:00:00', '2015-01-10 07:00:00', '2015-01-10 08:00:00',
       '2015-01-10 09:00:00', '2015-01-10 10:00:00', '2015-01-10 11:00:00',
       '2015-01-10 12:00:00', '2015-01-10 13:00:00', '2015-01-10 14:00:00',
       '2015-01-10 15:00:00', '2015-01-10 16:00:00', '2015-01-10 17:00:00',
       '2015-01-10 18:00:00', '2015-01-10 19:00:00', '2015-01-10 20:00:00',
       '2015-01-10 21:00:00', '2015-01-10 22:00:00', '2015-01-10 23:00:00',
       '2015-01-10 00:00:00', '2015-01-10 01:00:00', '2015-01-10 02:00:00',
       '2015-01-10 03:00:00', '2015-01-10 04:00:00', '2015-01-10 05:00:00',
       '2015-01-10 06:00:00', '2015-01-10 07:00:00', '2015-01-10 08:00:00',
       '2015-01-10 09:00:00', '2015-01-10 10:00:00', '2015-01-10 11:00:00',
       '2015-01-10 12:00:00', '2015-01-10 13:00:00', '2015-01-10 14:00:00',
       '2015-01-10 15:00:00', '2015-01-10 16:00:00', '2015-01-10 17:00:00',
       '2015-01-10 18:00:00', '2015-01-10 19:00:00', '2015-01-10 20:00:00',
       '2015-01-10 21:00:00', '2015-01-10 22:00:00', '2015-01-10 23:00:00'],
      dtype='object', name='Date')

In [33]:
df.dtypes

Date              object
MSC               object
Call Attempts      int64
Call success       int64
Call Answer        int64
traffic          float64
dtype: object

In [37]:
df = pd.read_csv('data/msc_traffic_0110', index_col='Date', parse_dates=['Date'])
df.head()
df.dtypes

MSC               object
Call Attempts      int64
Call success       int64
Call Answer        int64
traffic          float64
dtype: object

In [38]:
df['Call Attempts'][0:2]

Date
2015-01-10 00:00:00    1000
2015-01-10 01:00:00     993
Name: Call Attempts, dtype: int64

In [13]:
df.loc['2015-01-10 00:00:00']

,MSC,Call Attempts,Call success,Call Answer,traffic
Date,,,,,
2015-01-10 00:00:00,MSC_1,1000,922,702,1198.923158
2015-01-10 00:00:00,MSC_2,1504,1399,1292,2580.083498