In [301]:
import pandas as pd
import numpy as np

In [302]:
#fname_temp = 'data/msc_traffic_1.csv'

In [303]:
#pd_temp = pd.read_csv(fname_temp, index_col=False)
#pd_temp.head()

In [304]:
#pd_temp.to_csv(path_or_buf='data/msc_traffic_0110.csv', columns=['Date', 'MSC', 'Call Attempts', 'Call success', 'Call Answer', 'traffic'], index=False)

In [305]:
!head "data/msc_traffic_0110.csv"

Date,MSC,Call Attempts,Call success,Call Answer,traffic
2015-01-10 00:00:00,MSC_1,1000,922,702,1198.9231583594099
2015-01-10 01:00:00,MSC_1,993,899,728,775.0900523743599
2015-01-10 02:00:00,MSC_1,850,779,671,776.3873339593989
2015-01-10 03:00:00,MSC_1,821,776,675,879.424597408871
2015-01-10 04:00:00,MSC_1,900,892,795,1424.7282377408899
2015-01-10 05:00:00,MSC_1,943,886,842,1033.7753995255698
2015-01-10 06:00:00,MSC_1,1102,1095,886,1346.88400016375
2015-01-10 07:00:00,MSC_1,1240,1127,919,1059.8172001115402
2015-01-10 08:00:00,MSC_1,1851,1841,1406,1876.1087102263198

In [306]:
df = pd.read_csv('data/msc_traffic_0110.csv')

In [307]:
df.head()

,Date,MSC,Call Attempts,Call success,Call Answer,traffic
0,2015-01-10 00:00:00,MSC_1,1000,922,702,1198.923158
1,2015-01-10 01:00:00,MSC_1,993,899,728,775.090052
2,2015-01-10 02:00:00,MSC_1,850,779,671,776.387334
3,2015-01-10 03:00:00,MSC_1,821,776,675,879.424597
4,2015-01-10 04:00:00,MSC_1,900,892,795,1424.728238

In [308]:
df.index

RangeIndex(start=0, stop=48, step=1)

In [309]:
df.columns

Index(['Date', 'MSC', 'Call Attempts', 'Call success', 'Call Answer',
       'traffic'],
      dtype='object')

In [310]:
df = pd.read_csv('data/msc_traffic_0110', index_col='Date')
df.head()

,MSC,Call Attempts,Call success,Call Answer,traffic
Date,,,,,
2015-01-10 00:00:00,MSC_1,1000,922,702,1198.923158
2015-01-10 01:00:00,MSC_1,993,899,728,775.090052
2015-01-10 02:00:00,MSC_1,850,779,671,776.387334
2015-01-10 03:00:00,MSC_1,821,776,675,879.424597
2015-01-10 04:00:00,MSC_1,900,892,795,1424.728238

In [311]:
df.columns

Index(['MSC', 'Call Attempts', 'Call success', 'Call Answer', 'traffic'], dtype='object')

In [312]:
df.index[0:2]

Index(['2015-01-10 00:00:00', '2015-01-10 01:00:00'], dtype='object', name='Date')

In [313]:
df.dtypes

MSC               object
Call Attempts      int64
Call success       int64
Call Answer        int64
traffic          float64
dtype: object

In [314]:
df = pd.read_csv('data/msc_traffic_0110', index_col='Date', parse_dates=['Date'])
df.index[0:2]

DatetimeIndex(['2015-01-10 00:00:00', '2015-01-10 01:00:00'], dtype='datetime64[ns]', name='Date', freq=None)

In [315]:
df.dtypes

MSC               object
Call Attempts      int64
Call success       int64
Call Answer        int64
traffic          float64
dtype: object

In [316]:
np.unique(df.index.date)

array([datetime.date(2015, 1, 10)], dtype=object)

In [317]:
df.index.hour

Int64Index([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
            17, 18, 19, 20, 21, 22, 23,  0,  1,  2,  3,  4,  5,  6,  7,  8,  9,
            10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23],
           dtype='int64', name='Date')

In [318]:
df.index.minute

Int64Index([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
            0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
            0, 0, 0, 0],
           dtype='int64', name='Date')

In [319]:
df.index.second

Int64Index([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
            0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
            0, 0, 0, 0],
           dtype='int64', name='Date')

In [320]:
df.MSC.describe()

count        48
unique        2
top       MSC_1
freq         24
Name: MSC, dtype: object

In [321]:
df.MSC.unique()

array(['MSC_1', 'MSC_2'], dtype=object)

In [322]:
x = df['MSC']
np.unique(x.values)

array(['MSC_1', 'MSC_2'], dtype=object)

In [323]:
gdf=df.groupby(['MSC'])

In [324]:
gdf.__class__

pandas.core.groupby.DataFrameGroupBy

In [325]:
gdf.groups

{'MSC_1': DatetimeIndex(['2015-01-10 00:00:00', '2015-01-10 01:00:00',
                '2015-01-10 02:00:00', '2015-01-10 03:00:00',
                '2015-01-10 04:00:00', '2015-01-10 05:00:00',
                '2015-01-10 06:00:00', '2015-01-10 07:00:00',
                '2015-01-10 08:00:00', '2015-01-10 09:00:00',
                '2015-01-10 10:00:00', '2015-01-10 11:00:00',
                '2015-01-10 12:00:00', '2015-01-10 13:00:00',
                '2015-01-10 14:00:00', '2015-01-10 15:00:00',
                '2015-01-10 16:00:00', '2015-01-10 17:00:00',
                '2015-01-10 18:00:00', '2015-01-10 19:00:00',
                '2015-01-10 20:00:00', '2015-01-10 21:00:00',
                '2015-01-10 22:00:00', '2015-01-10 23:00:00'],
               dtype='datetime64[ns]', name='Date', freq=None),
 'MSC_2': DatetimeIndex(['2015-01-10 00:00:00', '2015-01-10 01:00:00',
                '2015-01-10 02:00:00', '2015-01-10 03:00:00',
                '2015-01-10 04:00:00', '2015-01-10 05:00:00',
                '2015-01-10 06:00:00', '2015-01-10 07:00:00',
                '2015-01-10 08:00:00', '2015-01-10 09:00:00',
                '2015-01-10 10:00:00', '2015-01-10 11:00:00',
                '2015-01-10 12:00:00', '2015-01-10 13:00:00',
                '2015-01-10 14:00:00', '2015-01-10 15:00:00',
                '2015-01-10 16:00:00', '2015-01-10 17:00:00',
                '2015-01-10 18:00:00', '2015-01-10 19:00:00',
                '2015-01-10 20:00:00', '2015-01-10 21:00:00',
                '2015-01-10 22:00:00', '2015-01-10 23:00:00'],
               dtype='datetime64[ns]', name='Date', freq=None)}

In [326]:
gdf.describe()

      Call Answer                                                            \
            count         mean          std    min     25%     50%      75%
MSC
MSC_1        24.0  2335.333333  1360.410989  671.0   875.0  2403.0  3444.75
MSC_2        24.0  1996.416667   899.315194  637.0  1241.5  2087.5  2570.75

              Call Attempts               ...      Call success          \
          max         count      mean     ...               75%     max
MSC                                       ...
MSC_1  4597.0          24.0  2915.625     ...           4068.00  4986.0
MSC_2  3698.0          24.0  2540.500     ...           3208.75  4743.0

      traffic                                                                  \
        count         mean          std         min          25%          50%
MSC
MSC_1    24.0  3554.017889  2321.558275  775.090052  1309.893790  3421.455599
MSC_2    24.0  3110.197221  1504.411886  694.335806  1844.433643  3115.087700


               75%          max
MSC
MSC_1  5256.125053  8765.704030
MSC_2  3966.096253  5943.368089

[2 rows x 32 columns]

In [327]:
gdf.ngroups

2

In [328]:
gdf.nunique()

       Call Answer  Call Attempts  Call success  traffic
MSC
MSC_1           24             24            24       24
MSC_2           24             24            24       24

In [329]:
gdf.groups.keys()

dict_keys(['MSC_1', 'MSC_2'])

In [330]:
gdf.agg('sum')

       Call Attempts  Call success  Call Answer       traffic
MSC
MSC_1          69975         66854        56048  85296.429342
MSC_2          60972         58046        47914  74644.733309

In [331]:
gdf.agg('max')

       Call Attempts  Call success  Call Answer      traffic
MSC
MSC_1           5204          4986         4597  8765.704030
MSC_2           4856          4743         3698  5943.368089

In [332]:
df['Call Failure'] = df['Call Attempts'] - df['Call success']
df.head(3)

,MSC,Call Attempts,Call success,Call Answer,traffic,Call Failure
Date,,,,,,
2015-01-10 00:00:00,MSC_1,1000,922,702,1198.923158,78
2015-01-10 01:00:00,MSC_1,993,899,728,775.090052,94
2015-01-10 02:00:00,MSC_1,850,779,671,776.387334,71

In [333]:
gdf=df.groupby(['MSC'])

In [334]:
gdf.agg({'Call Failure': 'max'})

       Call Failure
MSC
MSC_1           320
MSC_2           351

In [335]:
s1=gdf.get_group('MSC_1')
s1.nlargest(2, 'Call Failure')

,MSC,Call Attempts,Call success,Call Answer,traffic,Call Failure
Date,,,,,,
2015-01-10 21:00:00,MSC_1,4400,4080,3591,6977.363196,320
2015-01-10 11:00:00,MSC_1,4010,3710,3194,5708.442983,300

In [336]:
s1=gdf.get_group('MSC_2')
s1.nlargest(2, 'Call Failure')

,MSC,Call Attempts,Call success,Call Answer,traffic,Call Failure
Date,,,,,,
2015-01-10 21:00:00,MSC_2,4021,3670,2995,4400.457962,351
2015-01-10 13:00:00,MSC_2,3140,2842,2537,3799.822939,298

In [337]:
for name, group in gdf:
    print(group.nlargest(1, 'Call Failure'))

                       MSC  Call Attempts  Call success  Call Answer  \
Date
2015-01-10 21:00:00  MSC_1           4400          4080         3591

                         traffic  Call Failure
Date
2015-01-10 21:00:00  6977.363196           320
                       MSC  Call Attempts  Call success  Call Answer  \
Date
2015-01-10 21:00:00  MSC_2           4021          3670         2995

                         traffic  Call Failure
Date
2015-01-10 21:00:00  4400.457962           351

In [339]:
for name, group in gdf:
    print(group.nlargest(1, 'Call Attempts'))

                       MSC  Call Attempts  Call success  Call Answer  \
Date
2015-01-10 19:00:00  MSC_1           5204          4986         4597

                        traffic  Call Failure
Date
2015-01-10 19:00:00  8765.70403           218
                       MSC  Call Attempts  Call success  Call Answer  \
Date
2015-01-10 20:00:00  MSC_2           4856          4743         3698

                         traffic  Call Failure
Date
2015-01-10 20:00:00  5943.368089           113