In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame(np.arange(1,11).reshape(5,2), columns=list('AB'))
print(df)
json_string=df.to_json()
print(json_string)

   A   B
0  1   2
1  3   4
2  5   6
3  7   8
4  9  10
{"A":{"0":1,"1":3,"2":5,"3":7,"4":9},"B":{"0":2,"1":4,"2":6,"3":8,"4":10}}

In [3]:
pd.read_json(json_string)

   A   B
0  1   2
1  3   4
2  5   6
3  7   8
4  9  10

In [4]:
from os import path
json_file = path.expanduser('~/Documents/data_science/data_sources/json')
df_j = pd.read_json(json_file)
print(df_j)
print(df_j.iloc[0].count())
y=df_j.iloc[1]
z=y[0]['menuitem']
df_2 = pd.DataFrame(z)
df_2

                                                    menu
id                                                  file
popup  {'menuitem': [{'value': 'New', 'onclick': 'Cre...
value                                               File
1

          onclick  value
0  CreateNewDoc()    New
1       OpenDoc()   Open
2      CloseDoc()  Close

In [30]:
df_j.iloc[1][0]['menuitem']

[{'onclick': 'CreateNewDoc()', 'value': 'New'},
 {'onclick': 'OpenDoc()', 'value': 'Open'},
 {'onclick': 'CloseDoc()', 'value': 'Close'}]

In [5]:
from pandas.io.json import json_normalize

In [14]:
json_normalize?

In [7]:
df = pd.DataFrame(np.arange(1,11).reshape(5,2), columns=list('AB'))
print(df)
print(df.iloc[0])
print(df['A'])
x = df.iloc[1]
print("loc 1\n", x)
#print(x.count)
print(x.__class__)

   A   B
0  1   2
1  3   4
2  5   6
3  7   8
4  9  10
A    1
B    2
Name: 0, dtype: int32
0    1
1    3
2    5
3    7
4    9
Name: A, dtype: int32
loc 1
 A    3
B    4
Name: 1, dtype: int32
<class 'pandas.core.series.Series'>

In [8]:
x

A    3
B    4
Name: 1, dtype: int32

In [9]:
x['A']

3

In [10]:
x[0]

3

A    3
B    4
Name: 1, dtype: int32